
.vs/ProjectEvaluation/webteste.metadata.v5.2
.vs/ProjectEvaluation/webteste.projects.v5.2
.vs/WebTeste/DesignTimeBuild/.dtbcache.v2
.vs/WebTeste/FileContentIndex/6b8650d1-68b5-4e6c-bda5-ce04e55debc0.vsidx
.vs/WebTeste/FileContentIndex/9cb4a06f-e651-44e3-99d4-9cf32127c7d7.vsidx
.vs/WebTeste/FileContentIndex/ccc71dda-cd6a-4f76-8591-d695b884164a.vsidx
.vs/WebTeste/FileContentIndex/read.lock
.vs/WebTeste/v17/.suo
WebTeste/appsettings.json
WebTeste/bin/Debug/net6.0/appsettings.json
WebTeste/bin/Debug/net6.0/WebTeste.dll
WebTeste/bin/Debug/net6.0/WebTeste.exe
WebTeste/bin/Debug/net6.0/WebTeste.pdb
WebTeste/obj/Debug/net6.0/apphost.exe
WebTeste/obj/Debug/net6.0/ref/WebTeste.dll
WebTeste/obj/Debug/net6.0/refint/WebTeste.dll
WebTeste/obj/Debug/net6.0/staticwebassets.build.json
WebTeste/obj/Debug/net6.0/WebTeste.AssemblyInfo.cs
WebTeste/obj/Debug/net6.0/WebTeste.AssemblyInfoInputs.cache
WebTeste/obj/Debug/net6.0/WebTeste.assets.cache
WebTeste/obj/Debug/net6.0/WebTeste.csproj.AssemblyReference.cache
WebTeste/obj/Debug/net6.0/WebTeste.csproj.CoreCompileInputs.cache
WebTeste/obj/Debug/net6.0/WebTeste.csproj.FileListAbsolute.txt
WebTeste/obj/Debug/net6.0/WebTeste.dll
WebTeste/obj/Debug/net6.0/WebTeste.GeneratedMSBuildEditorConfig.editorconfig
WebTeste/obj/Debug/net6.0/WebTeste.genruntimeconfig.cache
WebTeste/obj/Debug/net6.0/WebTeste.pdb
WebTeste/obj/Debug/net6.0/WebTeste.RazorAssemblyInfo.cache
WebTeste/obj/Debug/net6.0/WebTeste.sourcelink.json
WebTeste/obj/project.assets.json
WebTeste/obj/project.nuget.cache
WebTeste/obj/WebTeste.csproj.nuget.dgspec.json
WebTeste/obj/WebTeste.csproj.nuget.g.props
.vs/WebTeste/FileContentIndex/85f259ab-b884-441e-a6d7-791744374fb3.vsidx
.vs/WebTeste/FileContentIndex/92a4fa6f-2820-4844-8459-1a3d0bf60dca.vsidx
.vs/WebTeste/FileContentIndex/946586d8-ce93-47e1-b930-a515d6bceecf.vsidx
.vs/WebTeste/FileContentIndex/94b5be7e-ad03-40eb-884b-fb5a0e7c5088.vsidx
.vs/WebTeste/FileContentIndex/a99399b4-87b0-4c37-a4f5-8a0fff5e56e4.vsidx
.vs/WebTeste/v17/.suo
WebTeste/obj/Debug/net6.0/project.razor.vs.bin
WebTeste/obj/Debug/net6.0/WebTeste.AssemblyInfoInputs.cache
WebTeste/obj/Debug/net6.0/WebTeste.assets.cache
WebTeste/obj/Debug/net6.0/WebTeste.csproj.AssemblyReference.cache
WebTeste/obj/Debug/net6.0/WebTeste.GeneratedMSBuildEditorConfig.editorconfig
WebTeste/obj/Debug/net6.0/WebTeste.RazorAssemblyInfo.cache
WebTeste/obj/project.assets.json
WebTeste/obj/project.nuget.cache
WebTeste/obj/WebTeste.csproj.nuget.dgspec.json
WebTeste/obj/WebTeste.csproj.nuget.g.props
