html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: linear-gradient(#d1ced1, #daa84b);
}

.cabecalho-classe {
    background-color: blue;
    /* Outras propriedades de estilo, se necessário */
}

